a {
	transition: background-color .2s, color .2s;
}

a:hover {
 cursor:pointer;
}

.content {
	width: 980px;
	margin: 40px auto;
	overflow: auto;


	h2 {
		font-size: 2em;
		margin: 70px 0 40px;
		text-transform: uppercase;
		color: $cPrimary;
		letter-spacing: .15em;
	}

	a.rect-link {
		border: 1px solid $cLink;
		color: $cLink;
		padding: 7px 13px;
		font-weight: 500;
		text-decoration: none;
		min-width: 100px;
		text-align: center;
		display: inline-block;
		background-color: white;

		&.dark {
			background-color: $cLink;
			color: white;

			&:hover {
				background-color: white;
				color: $cLink;
			}

			&.lighter-hover:hover {
				background-color: $cLightPink;
				color: white;
			}
		}
		&.mega {
			font-size: 2em;
			text-transform: uppercase;
			font-weight: 300;
		}

		&:hover {
			background-color: $cLink;
			color: white;
		}
	}

	&.hairline {
		background-color: $cTextPrimary;
		height: 1px;
		display: block;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.content {
		width: 760px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.content {
		width: 470px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.content {
		width: 310px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.content {
		width: 90%;
    }
}