/** 
 * consts 
 */

/* Font stacks */

$fsSansSerif: 	'SF UI Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fsName: 		'name', sans-serif;

/* Colors */

$cBlack: black;
$cWhite: white;
$cPink: #F3717F;
$cGray: #E3E3E3;
$cLightTransparant: rgba(255, 255, 255, 0.9);
$cVeryLightTransparant: rgba(255, 255, 255, 0.5);

/* Color layout */

$cPrimary:			$cPink;
$cSeconday:			$cBlack;

$cTextPrimary:		$cPink;
$cTextSecondary:	$cBlack;

$cLink: 			$cPink;
$cLinkHover: 		$cPink;

$cBackground: 		$cWhite;
$cBackgroundSecondary: $cLightTransparant;

$cBorderGray:		$cGray;

