.profile {
	overflow: auto;

	img {
		width: 200px;
		float: left;
	}

	div {
		float: left;
		margin-left: 20px;
		height: 200px;
		position: relative;
		
		p {
			line-height: 1.35em;
			
			.name {
				font-weight: 600;
			}
		}

		.rect-link {
			bottom: 0;
			position: absolute;
		}
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.profile {
		// background-color: lightblue;
		img {
			width: 50%;
		}
		div {
			display: block;
			margin: 0 0 0 20px;
			height: 155px;

			.rect-link {
				// bottom: 40px;
				position: absolute;
			}
		}
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.profile {
		// background-color: lightgreen;
		img {
			width: 100%;
		}
		div {
			display: block;
			margin: 20px 0 0 0;
			
			.rect-link {
				position: relative;
				margin-top: 10px;
			}
		}
	}
}